<div class="panel panel-default">
  <div class="zippy-heading panel-heading"
       data-toggle="collapse"
       data-target="#zippy-body"
       aria-expanded="false"
       aria-controls="zippy-body"
       (click)="toggle()">
    {{ title }}
    <span class="glyphicon"
          [ngClass]="{
            'glyphicon-chevron-up': isExpanded,
            'glyphicon-chevron-down': !isExpanded
          }"></span>
  </div>
  <div id="zippy-body" class="zippy-body panel-body collapse" [class.show]="isExpanded">
    <ng-content></ng-content>
  </div>
</div>
