<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old password</label>
    <input type="password"
           id="oldPassword"
           class="form-control"
           formControlName="oldPassword"/>
    <div *ngIf="oldPassword.touched && oldPassword.pending">Checking old password...</div>
    <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old password is required.</div>
      <div *ngIf="oldPassword.errors.oldPasswordShouldBeCorrect">Password does not correspond to current password.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New password</label>
    <input type="password"
           class="form-control"
           id="newPassword"
           formControlName="newPassword"/>
    <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
      New password is required.
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm password</label>
    <input type="password"
           class="form-control"
           id="confirmPassword"
           formControlName="confirmPassword"/>
    <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">
        This field cannot be empty.
      </div>
    </div>
    <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">
      Password in fields new password and confirm password should match.
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Change password</button>
</form>
