<h1>Angular</h1>
<courses></courses>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here...</p>
  </div>
</bootstrap-panel>

<div class="row">
  <div class="col-sm-12">
    <div *ngIf="coursesAreAvailable(); then coursesList else noCourses"></div>
    <ng-template #coursesList>
      List of courses
    </ng-template>
    <ng-template #noCourses>
      No courses yet
    </ng-template>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div [hidden]="courses.length == 0">
      <h2>List of courses</h2>
    </div>
    <div [hidden]="courses.length > 0">
      <h2>No courses yet</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-pills">
      <li [class.active]="viewMode === 'map'"><a (click)="viewMode = 'map'">Map view</a></li>
      <li [class.active]="viewMode === 'list'"><a (click)="viewMode = 'list'">List view</a></li>
    </ul>
  </div>
  <div class="col-sm-12" [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
  </div>
</div>

<button (click)="loadCourses()">Load courses</button>
<button (click)="onAdd()">Add</button>
<div class="panel row">
  <div class="panel-body col-sm-12">
    <ul>
      <li *ngFor="let course of courses; index as i; even as isEven; trackBy: trackCourse">
        {{i}} - {{course.name}} <span *ngIf="isEven">(EVEN)</span>
        <button (click)="onRemove(course)">Remove</button>
        <button (click)="onUpdate(course)">Change</button>
      </li>
    </ul>
  </div>
</div>

<div class="panel row">
  <div class="panel-body col-sm-12">
    <input type="text" appInputFormat="'uppercase'">
  </div>
</div>

<div class="panel row">
  <div class="panel-body col-sm-12">
    <zippy title="Shipping Details">Shipping Details Content</zippy>
    <zippy title="Billing Details">Billing Details Content</zippy>
  </div>
</div>

<div class="row panel">
  <div class="panel-body col-sm-12">
    <contact-form></contact-form>
  </div>
</div>

<div class="row panel">
  <div class="panel-body col-sm-12">
    <course-form></course-form>
  </div>
</div>

<div class="row panel">
  <div class="panel-body col-sm-12">
    <signup-form></signup-form>
  </div>
</div>
